body {
  margin: 10px;
  padding: auto;
}

img {
  width: 200px;
  height: 100px;
}

#worktable {
  border: 1px solid black;
}

tr {
  border: 1px solid black;
}

.tag_scroll {
  scroll-behavior: smooth;
}

.easily {
  text-decoration: line-through;
}

.coursework {
  margin-left: 45px;
}

.gradework {
  margin-left: 45px;
}