@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 200px;
  height: 100px;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

table .table_strong {
  text-align: center;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tag_scroll {
  scroll-behavior: smooth;
}

.easily {
  text-decoration: line-through;
}

.coursework {
  margin-left: 45px;
}

.gradework {
  margin-left: 45px;
}